@media(max-width: 992px){
    .booking-form{
        left: 5%;
        width: 280px;
        padding: 20px;
    }
    .booking-form h2{
        font-size: 18px;
    }
    .container{
        gap: 20px;
    }
    .about-text h2{
        font-size: 26px;
    }
    .about-text p{
        font-size: 15px;
    }
    .row{
        grid-template-columns: repeat(2,1fr);
    }
    .gallery-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 768px){
    .slider-img{
        height: 60vh;
    }
    .booking-form{
        position: static;
        transform: none;
        width: 90%;
        margin: -60px auto  20px auto;
        background-color: rgba(0,0,0,0.85);
    }  
    .container{
        flex-direction: column-reverse;
        text-align: center;
    } 
    .about-text{
        margin-top: 20px;
    } 
    .about-text h2{
        font-size: 24px;
    }
    .about-text p{
        font-size: 14px;
    }
    .about-text button{
        padding: 10px 20px;
    }
    .blog-container{
        flex-direction: column;
        align-items: center;
    }
    .blog{
        width: 90%;
    }
   .footer{
    text-align: center;
   }
   .footer h5:after{
    left:50%;
    transform: translateX(-50%);
   }
   .contact-item{
    justify-content: center;
   }
}
@media(max-width:480px){
    .booking-form{
        width: 95%;
        padding: 15px;
    }
    .booking-form h2{
        font-size: 16px;
    }
    .book-btn{
        font-size: 14px;
    }
    .about{
        padding: 40px 10px;     
    }
    .about-text h2{
        font-size: 20px;
    }
    .about-text p{
        font-size: 13px;
    }
}

@media(max-width:576px) {
    .row{
        grid-template-columns: 1fr;
    }
    .card img{
        height: 180px;
    }
    .room h2{
   font-size: 24px;
    }
    .gallery-container{
        grid-template-columns: 1fr;
    }
}